#botoncito {
  width: 100px;
  height: 100px;
  border-radius: 100%; /* Redondea los bordes para hacerlo circular */
  background-color: rgb(255, 0, 0); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  outline: none; /* Elimina el contorno al enfocar */
}

#botoncito:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra cuando se presiona */
  transform: translateY(2px); /* Mueve el botón ligeramente hacia abajo */
}
